<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">知仕科技</h2>
                    <h3 class="section-subheading text-muted">专业点亮创意 靠谱守护项目</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015 十二月</h4>
                                    <h4 class="subheading">一个想法出现了</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">一个产品经理，一个资深工程师。我们可以做点帮助别人落地项目，完成他们想法的心愿，这是我们本来的能力！</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016 三月</h4>
                                    <h4 class="subheading">芝士工作室出现了</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">工作室中有很多，各种各样的芝士，在这样一件小小的房间内，奶香肆虐！而蓝调音乐也是两个有些岁数差距的共同爱好--用乐观的态度面对世界太多的不完美</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016 七月</h4>
                                    <h4 class="subheading">创始人开始全职创业</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">业务量的扩大，创始人也一直对创业这件事蠢蠢欲动^_^刚开始也走过一些坑，也天天看着《创业维艰》《从零到一》等等不靠谱的事，还好芝士数码活下来了！</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017 四月</h4>
                                    <h4 class="subheading">新的想法，新的阶段</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">公司在有些延误的情况下最终注册好了，名字「上海知仕信息科技」，还是很爱吃芝士～在保证公司各项VR/AR/MR内容定制业务的前提下，有了做一款教育+VR／AR的产品，如需进一步了解点击下方发送邮件或直接给我电话</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
