<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">服务</h2>
                    <h3 class="section-subheading text-muted">使命必达是我们的服务宗旨；专业、靠谱是我们的服务常态</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">VR/AR/MR内容定制开发</h4>
                    <p class="text-muted">9年Unity开发经验和7年UE4开发经验的两位大神主程，在整个开发过程中最准确的理解您的需求，最专业的底层框架和项目输出</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">多媒体、CG等内容渲染制作</h4>
                    <p class="text-muted">极具创造力的策划，资深渲染师、模型，专业美工，让最终的项目都能超出您的预期，带给你一次严重满意的服务体验</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Kinect、全景图片、全景视频等VR周边定制开发</h4>
                    <p class="text-muted">兄弟公司团队合作，专业体贴的服务，完全通过镜头表现您想要的美，通过其它相关硬件完美表达您要的效果</p>
                </div>
            </div>
        </div>
    </section>
